<div class="row">
    <div class="col-md-12">
        <h1>Productos</h1>
        {{#each product in model}}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><div class="product-block">


<div class="image">
<img  {{bind-attr src='product.image'}}>


</div>
<div class="product-meta">
<h3 class="name">{{#link-to 'product' product.name}}
                    {{product.name}}
                {{/link-to}}</h3>
<div class="description">
{{product.description}}
</div>

<div class="price">
{{formatPrice product.price}}										  									</div>
<div class="rating"><img src="catalog/view/theme/pav_foodstore/image/stars-5.png" alt="Based on 1 reviews."></div>


<div class="cart">


   <button class='button'   {{action "buy" product}}>
                Comprar
            </button>

</div>


</div>


</div>
</div>
        {{/each}}
    </div>
</div>