<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand" id="appname"}}
          SocialChef
      {{/link-to}}
    </div>

    <nav class="navbar-inner collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> {{#link-to "products"}} Products {{/link-to}} </li>
          <li> {{#link-to "about"}} About {{/link-to}} </li>
          {{#if username}}
              <li> {{#link-to "logout"}} Cerrar Sesi&oacute;n {{/link-to}} </li>
              <li> {{#link-to "user" username}} {{username}} {{/link-to}} </li>
          {{else}}
              <li>
                  <a href="#" id='modal-launcher'
                        data-toggle="modal"
                        data-target="#login-modal">
                      Iniciar Sesi&oacute;n
                  </a>
              </li>
              <li> {{#link-to "register"}} Registrarse {{/link-to}} </li>
          {{/if}}
      </ul>
    </nav>
  </nav>
</nav>
<div class="container">
    <div><h1>SocialChef</h1></div>
    <div class="row">
      {{ products-search search="search"}}
      <div class="col-md-3">
          {{left-panel}}
      </div>
      <div class="container">
          <div class="col-md-9">
            {{outlet}}
          </div>
      </div>
    </div>
</div>
<div class="container">
  <hr>
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p id="copyright">Copyright &copy; SocialChef 2014</p>
          </div>
        </div>
    </footer>
</div>

{{!-- modal --}}
<div class="modal fade"
    id="login-modal" tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header login_modal_header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">
                    Inicia Sesi&oacute;n en tu Cuenta
                </h2>
            </div>
            <div class="modal-body login-modal">
              <h1>SocialChef</h1>
              <br/>
              <div class="clearfix"></div>
              <div id='social-icons-conatainer'>
                  <div class='modal-body-left'>

                      <div class="form-group">
                          {{input type="text" id="username"
                              placeholder="Usuario o Correo"
                              value=username
                              class="form-control login-field"}}
                          <i class="fa fa-user login-field-icon"></i>
                      </div>

                      <div class="form-group">
                          {{input type="password" id="login-pass"
                              placeholder="Contrase&ntilde;a"
                              value=password
                              class="form-control login-field"}}
                          <i class="fa fa-lock login-field-icon"></i>
                      </div>
                      <button id="login_btn"
                          class="btn btn-success modal-login-btn"
                          {{bind-attr disabled="isProcessing"}}
                          {{action "login"}}
                          type="button">Aceptar</button>
                      <a href="#" class="login-link">
                        recordar contrase&ntilde;a
                      </a>
                  </div>

                  <div class='modal-body-right'>
                      <div class="modal-social-icons">
                          <a href='#' class="btn btn-default facebook">
                              <i class="fa fa-facebook modal-icons"></i>
                              Sign In with Facebook
                          </a>
                          <button class="btn btn-default twitter"
                              {{action "signIn"}}>
                              <i class="fa fa-twitter modal-icons"></i>
                              Sign In with Twitter
                          </button>
                          <a href='#' class="btn btn-default google">
                              <i class="fa fa-google-plus modal-icons"></i>
                              Sign In with Google
                          </a>
                      </div>
                  </div>
                  <div id='center-line'> OR </div>
              </div>

              <div class="clearfix"></div>
              <div class="form-group modal-register-btn">
                  <button class="btn btn-default"
                      {{action "register"}}>
                      New User Please Register
                  </button>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer login_modal_footer">
            </div>
        </div>
      </div>
</div>