<h1>Informaci&oacute;n de Compra</h1>
<form {{action "purchase"}} method="post" accept-charset="utf-8">
   <h3>{{product.name}}</h3>
   <h3>{{product.price}}</h3>
   {{input type="text" placeholder="Direcci&oacute;n de entega" value=address
        id="input-address"}}

   <button {{action "purchase" on='submit'}} type='submit'>Aceptar</button>
</form>